.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Liste des candidats */
.candidat-list {
  list-style: none;
  padding: 0;
}

.candidat-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid gray;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.candidat-item.selected {
  border-color: #007bff;
  background-color: #e6f0ff;
  font-weight: bold;
}

.candidat-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.checkmark {
  font-size: 24px;
  color: green;
  margin-left: auto;
}
